*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(255, 255, 255)
}
.kapsamaAlanı{
    position: relative;
    display: block;
    margin-top: 270px;
    margin-left: 40%;
}
@media screen and (max-width:600px) {
.kapsamaAlanı{
    margin-top: 40%;
    margin-left: 40%;
}
}
#animations{
    width: 100px;
    height: 100px;
}
#animations::before,
#animations::after{
    content: "";
    position:absolute;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    mix-blend-mode: multiply;
    animation: rotate 1s infinite;
    cubic-bezier:(0.77,0,0.175,1);
}
#animations::before{
    background-color: #e4127b;
}
#animations::after{
    background-color: #0dcad8;
    animation-delay: .5s;
}

@keyframes rotate {
    0%,100%{
        left: 95px;
    }
    25%{
        transform: scale(.3);
    }
    50%{
        left: 0;
    }
    75%{
        transform: scale(1);
    }
}